[run]
omit = 
    data/*
    docs/*
    explainer/*
    ruins/tests/*
    setup.py
    */__init__.py
    sdm.py
    RUINSapp.py
    AGUstreamlit.py
    pyGR4J.py
    SIMPLEcrop.py

[exclude]
exclude_lines = 
    pragma: no cover
    def __repr__
    def __str__
    if self.debug
    if False:
    if 0:
    raise AssertionError
    raise NotImplementedError
    raise ModuleNotFoundError
    if __name__ == .__main__.: